/* _content/Blazor.LocalStorage.Client/LocalStorageComponent.razor.rz.scp.css */
.my-component[b-u9ckzu6dvw] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
