/* _content/Blazor.AutomaticLogout.Client/AutomaticLogout.razor.rz.scp.css */
.my-component[b-94nwcpojv5] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
